<div class="container">
  <div class="row">
    <div class="col-lg-3 offset-1 mt-3">
      <h3>商品編集</h3>
    </div>
  </div>
  <%= form_with url: admin_item_path(@item.id), model:@item, local:true do |f| %>
  <div class="row mt-3">
    <div class="col-lg-2 offset-3">
      <p>商品画像</p>
    </div>
    <div class="col-lg-6">
      <%= f.attachment_field :image %>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-lg-2 offset-3">
      <p>商品名</p>
    </div>
    <div class="col-lg-6">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-lg-2 offset-3">
      <p>商品説明</p>
    </div>
    <div class="col-lg-6">
      <%= f.text_area :introduction %>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-lg-2 offset-3">
      <p>税抜価格</p>
    </div>
    <div class="col-lg-6">
      <%= f.number_field :price %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-3 offset-5">
      <%= f.submit '変更を保存', :class=>"btn btn-success" %>
    </div>
  </div>
  <% end %>

</div>