<div class="container">
  <div class="row mt-3">
    <div class="col-lg-2 offset-1">
      <h3>商品詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 offset-1">
      <%= attachment_image_tag @item, :image, size: "250x250" %>
    </div>
    <div class="col-lg-6 offset-1 mt-5">
      <div class="row mt-2">
        <div class="col-lg-3">商品名</div>
        <div class="col-lg-9">
          <%= @item.name %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-3">商品説明</div>
        <div class="col-lg-9">
          <%= @item.introduction %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-3">税抜価格</div>
        <div class="col-lg-9">
          <%= @item.price %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class=" col-lg-2 offset-5">
    <%= link_to "編集する", edit_admin_item_path, :class=>"btn btn-success" %>
  </div>
</div>