<div class="container">
  <div class="row mt-4">
    <div class="col-lg-4 offset-1">
      <h3>注文情報確認</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <table  class="table table-bordered">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
        　</tr>
        　<% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
        　<tr>
            <td><%= attachment_image_tag cart_item.item, :image, size: "40x30" %><%= cart_item.item.name %></td>
            <td><%= (cart_item.item.price*1.1).floor(0) %></td>
            <td><%= cart_item.amount %></td>
            <td><%= (cart_item.item.price*1.1*cart_item.amount).floor(0) %></td>
          </tr>
          <% @sum += cart_item.item.price*1.1*cart_item.amount %>
        <% end %>
      </table>
    </div>
    <div class="col-lg-3 offset-1 mt-4">
      <table  class="table table-bordered">
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_fee %></td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td><%= (@sum).floor(0) %></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td><%= (@sum + @order.shipping_fee).floor(0) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-1 offset-1 font-weight-bold">
      支払方法
    </div>
    <div class="col-lg-3">
      <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-1 offset-1 font-weight-bold">
      お届け先
    </div>
    <div class="col-lg-8">
      〒<%= @order.shipping_postal_code %>　<%= @order.shipping_address %><br>
      <%= @order.shipping_name %>
    </div>
  </div>

<%= form_with model: @order, local: true do |f| %>
<%= f.hidden_field :customer_id, :value => @customer.id %>
<%= f.hidden_field :billing_amount, :value => @sum + @order.shipping_fee %>
<%= f.hidden_field :shipping_address, :value => @order.shipping_address %>
<%= f.hidden_field :shipping_postal_code, :value => @order.shipping_postal_code %>
<%= f.hidden_field :shipping_name, :value => @order.shipping_name %>
<%= f.hidden_field :shipping_fee, :value => @order.shipping_fee %>
<%= f.hidden_field :payment_method, :value => @order.payment_method %>
<div class="row mt-3">
  <div class="col-lg-2 offset-5">
    <%= f.submit "注文を確定する", :class=>"btn btn-success" %>
  </div>
</div>

<% end %>
</div>