<div class="container">
  <div class="row mt-3">
    <div class="col-lg-2"></div>
    <h3 class="col-lg-3">注文情報入力</h3>
  </div>
  <div class="row mt-3">
    <div class="col-lg-1"></div>
    <h5 class="col-lg-5">支払い方法</h5>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 pl-5">
          <%= form_with url: "/orders/confirm", model: @order, local: true do |f| %>
            <%= f.radio_button :payment_method, 0, {:checked => @true} %>
            <%= f.label :payment_method, "クレジットカード" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 pl-5">
            <%= f.radio_button :payment_method, 1 %>
            <%= f.label :payment_method, "銀行振込" %>
    </div>
  </div>
    <div class="row mt-3">
    <div class="col-lg-1"></div>
    <h5 class="col-lg-5">お届け先</h5>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 pl-5">
            <%= f.radio_button :order_select, 0, {:checked => @true} %>
            <%= f.label :order_select, "ご自身の住所" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-9 pl-5">
            <p>〒<%= @customer.postal_code %>　<%= @customer.address %><br><%= @customer.first_name %><%= @customer.last_name %></p>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-9 pl-5">
      <%= f.radio_button :order_select, 2 %>
      <%= f.label :order_select, "新しいお届け先" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 pl-5">
      <%= f.label :shipping_postal_code_2, "郵便番号（ハイフンなし）" %><br>
      <%= f.label :shipping_address_2, "住所" %><br>
      <%= f.label :shipping_name_2, "名前" %>
    </div>
    <div class="col-lg-7 pl-2">
      <%= f.text_field :shipping_postal_code_2 %><br>
      <%= f.text_field :shipping_address_2 %><br>
      <%= f.text_field :shipping_name_2 %>
    </div>
  </div>

<div class="row mt-3">
        <div class="col-lg-6"></div>
        <div class="col-lg-2">
          <%= f.submit "確認画面へ進む" %>
          <% end %>
        </div>
        <div class="col-lg-4"></div>
      </div>




</div>