<div class="container">
  <div class="row mt-3">
    <div class="col-lg-2"></div>
    <h3 class="col-lg-4 pl-4">ショッピングカート</h3>
      <div class="col-lg-2 offset-4 pt-2">
        <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete %>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10 offset-1">
      <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
                <th></th>
            </tr>
          </thead>

        <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.price %></td>
          <td>
            <%= form_with model: cart_item, method: :patch, local:true do |f| %>
            <%= f.select :amount, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"]], include_blank: "選択して下さい" %>
            <%= f.submit '変更' %>
            <% end %>

          </td>
          <td><%= cart_item.item.price*cart_item.amount %></td>
          <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete %></td>
          </tr>
          <% @sum += cart_item.item.price*cart_item.amount %>
          <% end %>
       </table>
      </div>
  </div>
      <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
          <table class="table table-bordered">
            <tr>
              <td class="table-active">合計金額</td>
              <td><%= @sum %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-2">
          <%= link_to "情報入力に進む", orders_new_path %>
        </div>
        <div class="col-lg-4"></div>
      </div>
</div>