<div class="container">
  <div class="row">
    <h2 class="col-lg-4 offset-lg-1 mt-3">ログイン</h2>
  </div>
  <div class="row mt-4">
    <p class="col-lg-4 offset-lg-2">会員の方はこちらからログイン</p>
  </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field row">
        <div class="col-lg-2 offset-lg-3 mt-3">
          <%= f.label :email, "メールアドレス" %>
        </div>
        <div class="col-lg-5 mt-1">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="field row">
        <div class="col-lg-2 offset-lg-3 mt-1">
          <%= f.label :password, "パスワード" %>
        </div>
        <div class="col-lg-5 mt-1">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
    <div calss="row">
      <div class="actions col-lg-2 offset-lg-5 mt-2">
        <%= f.submit "ログイン",  :class=>"btn btn-primary" %>
      </div>
    </div>
    <% end %>
    <div class="row mt-4">
      <p class="col-lg-4 offset-lg-2">会員登録がお済みでない方</p>
    </div>
    <div class="row mt-1">
      <p class="col-lg-4 offset-lg-3"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください</p>
    </div>
</div>